
    
        <div class="home-recipe-card-inner">
            <a href="/recipe-info/{{id}}">

            <div class="home-recipe-card-inner-image"><img src="{{imageURL}}" alt="recipe"></div>

            <div class="home-recipe-card-inner-text">{{name}}</div>
            {{!-- <div class="home-recipe-card-inner-image"><img src="{{imageURL}}" alt="recipe"></div>
            <div class="home-recipe-card-inner-text">{{name}}</div> --}}
            <div class="home-recipe-card-inner-details border-right-dd">10<br>Min</div>
            <div class="home-recipe-card-inner-details">10<br>Servings</div>
            </a>
        </div>
    