<!DOCTYPE html>
<head>
  {{> analytics}}
  <title>Add Recipe</title>
  <meta charset="utf-8">
  <link rel="icon" href="/images/iphone-icon.png?v=2">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css"/>
  <link rel="stylesheet" type="text/css" href="/css/multi-select.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/goBack.js"></script>
</head>
<body>
  {{> navbottom}}
  <div class="container top-containers">
    <div class="row">
      <a onclick="goBack()">
        <div class="col col-xs-2">
          <p class="back"><</p>
        </div>
      </a>
      <div class="col col-xs-8">
        <h1>Create a New Recipe</h1>
      </div>
    </div>
  </div>
  <div id="recipe-name-loc" class="link-anchor"></div>
  <div class="container add-recipe-categories-container">
    <div class="row untitled-recipe">
      <input placeholder="✎ Recipe Name" id="recipe-name-edit"></input>
    </div>
    <div class="food-selectors">
      <h3 class="newrecipe-h3">Select Proteins:</h3>
      <select id='callbacks' multiple='multiple'>
        {{#foodtype ingredients "Protein"}}
        <option value='{{name}}' style="background-image:url({{imageURL}}); padding-left: 50px; background-size:30px;" class="foodadder">{{name}}</option>
        {{/foodtype}}
      </select>
      <h3 class="newrecipe-h3">Select Carbs:</h3>
      <select id='callbacks2' multiple='multiple'>
        {{#foodtype ingredients "Carbs"}}
        <option value='{{name}}' style="background-image:url({{imageURL}}); padding-left: 50px; background-size:25px;" class="foodadder">{{name}}</option>
        {{/foodtype}}
      </select>
      <h3 class="newrecipe-h3">Select Fruits and Vegetables:</h3>
      <select id='callbacks3' multiple='multiple'>
        {{#foodtype ingredients "Produce"}}
        <option value='{{name}}' style="background-image:url({{imageURL}}); padding-left: 50px; background-size:25px;" class="foodadder">{{name}}</option>
        {{/foodtype}}
      </select>
      <h3 class="newrecipe-h3">Select Other Foods:</h3>
      <select id='callbacks4' multiple='multiple'>
        {{#foodtype ingredients "Other"}}
        <option value='{{name}}' style="background-image:url({{imageURL}}); padding-left: 50px; background-size:25px;" class="foodadder">{{name}}</option>
        {{/foodtype}}
      </select>
      <div id="nre-cooking-instructions-loc" class="link-anchor"></div>
      <h3 class="newrecipe-h3">Add Cooking Instructions:</h3>
      <textarea name="paragraph_text" cols="50" rows="10" class="recipe-instructions" placeholder="1. Wash and dry all produce. Place rice and 1 cup water in a small pot..." id="nre-cooking-instructions"></textarea>
      <h3 class="newrecipe-h3">Estimated Cooking Time:</h3>
      <h3 class="recipe-time-h3"><input type="tel" pattern="[0-9]*" novalidate class="nre-recipe-time" id="nre-cooking-time"> Minutes</h3>
      <h3 class="newrecipe-h3">Serving Size:</h3>
      <h3 class="recipe-time-h3"><input type="tel" pattern="[0-9]*" novalidate class="nre-serving-size" id="nre-serving-size"> Servings</h3>
    </div>
  </div>
  <div class="row add-recipe-create" id="rcp-add">
    Create
  </div>
  </div>
  <script src="/js/jquery.multi-select.js"></script>
  <script src="/js/add-recipe.js"></script>
</body>
</html>