<!DOCTYPE html>
<head>
   <title>View All Ingredients</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/app.css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="/js/remove-item.js"></script>
</head>
<body>
   <div class="container top-containers">
      <div class="row">
         <a href="index">
            <div class="col col-xs-2">
               <p class="back"><</p>
            </div>
         </a>
         <div class="col col-xs-8">
            <h1>My Fridge</h1>
         </div>
      </div>
   </div>
   <div class="outer-container">
      {{!-- <div class="search-bar-container">
         <input class="search-bar" type="text" placeholder="Search for a food to add">
      </div> --}}
      <div class="row">
         <div class="col-xs-12">
            <div class="fridge-container">
               <div class="row">
                  <div class="col-xs-4"></div>
                  {{!-- <div class="col-xs-4 fridge-filter">
                     Filter     &#9660;
                  </div> --}}
                  <div class="col-xs-4 fridge-edit">
                     Edit
                  </div>
               </div>
               <h4 class="home-freshness home-freshness-1">
                  Eat Soon
               </h4>
               {{#each ingredients_soon}}
               <div class="row home-freshness-row">
                  <input type="hidden" value="{{id}}" class='h_v'>
                  <div class="home-freshness-col-1 col-xs-3">
                     <img class="icon" src="{{imageURL}}"/>
                  </div>
                  <div class="home-freshness-col-2 col-xs-5">
                     {{name}}
                  </div>
                  <div class="home-freshness-col-3 col-xs-5">
                     x {{quantity}}
                     <div class="edit-delete-button">✖︎</div>
                  </div>
               </div>
               {{/each}}
               <h4 class="home-freshness home-freshness-2">
                  Okay
               </h4>
               {{#each ingredients_ok}}
               <div class="row home-freshness-row">
                  <div class="home-freshness-col-1 col-xs-3">
                     <img class="icon" src="{{imageURL}}"/>
                  </div>
                  <div class="home-freshness-col-2 col-xs-5">
                     {{name}}
                  </div>
                  <div class="home-freshness-col-3 col-xs-5">
                     x {{quantity}}
                  </div>
               </div>
               {{/each}}
               <h4 class="home-freshness home-freshness-3">
                  Fresh
               </h4>
               {{#each ingredients_fresh}}
               <div class="row home-freshness-row">
                  <div class="home-freshness-col-1 col-xs-3">
                     <img class="icon" src="{{imageURL}}"/>
                  </div>
                  <div class="home-freshness-col-2 col-xs-5">
                     {{name}}
                  </div>
                  <div class="home-freshness-col-3 col-xs-5">
                     x {{quantity}}
                  </div>
               </div>
               {{/each}}
            </div>
         </div>
      </div>
   </div>

   <script>
      $(".fridge-edit").click(function(){
        $(".home-freshness-row").toggleClass("home-freshness-row-edit");
      });
   </script>
</body>
</html>